.list-warper {
    height: 100vh;
    background-color: $clr1;
}

.list-container {
    width: 80%;
    margin: auto;
    display: flex;

    // background-color: $board-container;
    // height: 100vh;
    & .add-board {
        height: 142px;
        width: 300px;
        color: $clr1;
        background-color: $clr4;
        padding-top: 50px;
        margin-top: 70px;
        border-radius: 10px;
        font-size: 1.2rem;
        cursor: pointer;
    }

    & .board-list {
        // position: absolute;
        // top: 50px;
        margin-top: 70px;
        margin-left: 20px;
        // background-color: $clr4;
        display: flex;
        > * {
            margin: 10px;
        }
    }
}

.side-bar {
    // display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 15%;
    background-color: $clr5;
    // position: absolute;
    font-family: $mainFont;
    border-radius: 12px;

    & .min-board {
        // display: flex;
        // align-items: center;
        padding: 10px;

        & img {
            // width: 100%;
            height: 150px;
            border-radius: 12px;
        }

        & h2 {
            border-radius: 12px;
            font-family: $mainFont;
            color: $clr7;
            font-size: 1.7rem;
            background-color: $clr4;
        }

        & input {
            position: absolute;
            width: 10%;
            margin-left: 5%;
            text-align: center;
            top: 25%;
            background-color: $clr5;

            & ::placeholder {
                color: $clr7;
            }
        }

        & button {
            position: absolute;
            width: 10%;
            margin-left: 5%;
            top: 30%;
        }
    }
}

.board-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(25px);
    width: rem(280px);
    height: rem(170px);
    border-radius: 12px;
    display: flex;
    justify-content: center;

    & h3 {
        background-color: $clr4;
        font-family: $mainFont;
        color: $clr1;
        border-radius: 4px;
    }
}

.bg-container {
    margin: auto;
    // background-color: $clr9;
    color: $clr5;
    border-radius: 12px;
    padding: 10px;

    & .photos,
    .colors {
        // display: none;
        height: 150px;
        // overflow-y: scroll;
    }

    & img {
        margin: auto;
        width: 25%;
        margin-left: 10px;
        border-radius: 12px;
        cursor: pointer;
    }
}

.img-line {
    width: 100%;
}