.board-nav {
    background-color: $clr1;
    color: $clr6;

    input:focus {
        width: 100%;
    }
    & .main-links {
        // font-size: 1.6rem;
        width: 350px;
        color: $clr6;
        margin: 0px;
        text-align: center;
        font-size: 1.5rem;
        align-items: center;
        &.right-links {
            justify-content: flex-end;
            margin-right: 20px;
        }
        & span {
            background-color: $clr4;
        }
        & svg {
            background-color: $clr4;
            border-radius: 5px;
            cursor: pointer;
            padding: 12%;
        }
        & li {
            margin-left: 10px;
        }
    }
    & .logo {
        display: flex;
        & img {
            line-height: 0em;
            padding: 0px;
            width: 5rem;
            cursor: pointer;
        }
    }
}

.list-container {
    background-color: $clr6;
    padding: 10px;
    width: 80%;
}

.side-bar {
    width: 20%;
    background-color: $clr8;
    // position: absolute;
    font-family: $mainFont;
    border-radius: 12px;

    & .min-board {
        display: flex;
        // align-items: center;
        padding: 10px;

        & img {
            // height: 200px;
            width: 100%;
            position: relative;
            margin: auto;
            border-radius: 12px;
        }
        & h2 {
            font-family: $mainFont;

            position: absolute;
            z-index: 100;
            width: 20%;
            top: 20%;
            color: $clr7;
            font-size: 2rem;
            background-color: $clr4;
        }
        & input {
            position: absolute;
            width: 10%;
            margin-left: 5%;
            text-align: center;
            top: 25%;
            background-color: $clr5;
            & ::placeholder {
                color: $clr7;
            }
        }
        & button {
            position: absolute;
            width: 10%;
            margin-left: 5%;
            top: 30%;
        }
    }
}

.board-prev {
    padding: 50px;
    min-width: 300px;
    border-radius: 12px;
}

.bg-container {
    margin: auto;
    background-color: $clr8;
    border-radius: 12px;
    padding: 10px;
    & .photos,
    .colors {
        height: 150px;
        overflow-y: scroll;
    }

    & img {
        margin: auto;
        width: 25%;
        margin-left: 10px;
        border-radius: 12px;
        cursor: pointer;
    }
}

.img-line {
    width: 100%;
}
