@mixin del-btns {
    &:hover .del {
        opacity: 0.5;
    }
    .del {
        float: right;
        opacity: 0;
        color: red;
        font-size: rem(20px);
        @include button-clear;
        @include round;
        &:hover {
            opacity: 1;
        }
    }
}

.list {
    &-warpper {
        // all: unset;
        padding-top: 100px;
        padding-bottom: 100px;
        // height: 100%;
        // display: table-cell;
        // vertical-align: top;
        // position: absolute;
        // top: 80px;
    }
    font-family: OpenSans-Bold, sans-serif;
    font-size: rem(14px);
    background-color: #ebecf0;
    border-radius: 3px;
    // width: 272px;
    // position: absolute;
    // margin-left: 9px;

    cursor: pointer;
    margin-left: 10px;
    & &-title {
        width: 272px;
        padding: 5px 10px;
        padding-right: 5px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        cursor: pointer;
    }
    @include del-btns;
    &-bg {
        // background-color: cyan;
        .list-cards {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            max-height: 70vh;
            overflow-x: hidden;
            overflow-y: auto;
            margin-right: 2px;
            margin-left: 10px;
            &::-webkit-scrollbar {
                background-color: $list-bgc;
                width: 6.5px;
                height: 100px;
                &-thumb {
                    border: 16px solid #bdc5d8;
                    border-radius: 10px;
                }
                &-track {
                    // border: 16px solid #bdc5d8;
                    border-radius: 10px;
                    height: 100px;
                }
            }
        }
    }
}
.add-card-container {
    text-align: left;
    // margin-top: 10px;
    padding: 10px;
    // padding-bottom: 10px;
    display: flex;
    & .add-card-btn, .add-list-btn {
        all: unset;
        // height: 34px;
        margin-left: 5px;
        padding: 4px 8px;
        border-radius: 3px;
        font-family: OpenSans-semiBold, sans-serif;
        color: #ffffff;
        /* width: 93%; */
        text-align: left;
        /* position: absolute; */
        background-color: green;
        bottom: 0;
        &:hover {
            background-color: rgba(0, 128, 0, 0.472);
        }
    }

    & textarea {
        all: unset;
        height: 30px;
        text-align: center;
        // width: 100%;
        border-radius: 3px;
        background-color: $clr4;
        padding: 5px;
        margin: 10px auto;
        // margin-right: 10px;
    }
}

.board {
    display: flex;
    max-width: 100%;
    height: 100vh;
    overflow: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        margin-bottom: 20px;
        height: 10px;
        width: 10px;
        cursor: move;
    }
    &::-webkit-scrollbar-thumb {
        border: 16px solid #0000008f;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
        border: 16px solid #ffffff81;
        border-radius: 10px;
    }
}
.card {
    font-family: OpenSans-reg;
    position: relative;
    padding: 6px 8px 2px;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    font-size: 0.875rem;
    max-width: 250px;
    word-break: break-all;
    cursor: pointer;
    text-align: left;
    &:hover :not() {
        background-color: $hover;
    }
    // background-color: burlywood;
    @include del-btns;
    & &-title {
        font-size: 0.875rem;
        margin-bottom: 4px;
        margin-left: rem(3px);
        :not(.edit) {
            cursor: pointer;
        }
        &-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: minmax(1fr, 100%);
        }
        &.edit {
            font: inherit;
            line-height: inherit;
            padding: inherit;
            overflow: hidden;
            overflow-wrap: break-word;
            resize: none;
            border: none;
            background: none;
            width: 100%;
        }
    }
    &-stat {
        font-size: 0.8rem;
        text-align: right;
    }
    & &-label {
        width: 25px;
        height: 7px;
        border-radius: 6px;
        margin-left: rem(3px);
    }
    &-wrapper {
        &.active-card {
            overflow: visible;
            position: relative;
            z-index: 11;
        }
    }

    &-preview-editor {
        position: relative;
    }
}
.tilt {
    transform: rotate(4deg);
    transition: 0.6;
}

[data-rbd-placeholder-context-id="1"] {
    background-color:rgba(255, 0, 0, 0.281);
    flex-shrink: 1;
}
.bg-modal {
    position: absolute;
    top: 45%;
}
