.homepage-head {
    height: rem(600px);
    background-color: $clr1;

    & section {
        max-width: 60%;
        margin: auto;

        & h2 {
            margin-top: 5%;
            font-family: $mainFont;
            font-size: 2.6rem;
            justify-content: center;
            width: 30vw;
            color: $clr5;
        }

        & p {
            font-family: $mainFont;
            font-size: 1.6rem;
            line-height: 2rem;
            width: 30vw;
            color: $clr4;
            margin-bottom: 2.3rem;
        }

        & img {
            width: 50%;
        }
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo {
    & img {
        width: 8rem;
        padding: 10px;
        cursor: pointer;
    }
}

.pages {

    // padding: 10px;
    & ul {
        display: flex;
        color: $clr6;

        // background-color: yellow;
        & li {
            padding: 10px;
            cursor: pointer;
        }

        & .sign-up {
            // margin-right: 2rem;
            margin-left: 1rem;
            background-color: $clr6;
            color: $clr1;
            margin-right: 10px;
        }

        &li:last-child {
            background-color: $clr3;
        }
    }
}

.homepage {
    height: 100vh;
    overflow-y: scroll;
}

.homepage-body {
    // background-color: rgba(0, 0, 0, 0.021);
    margin: 30px auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;

    // background-color: $clr5;
    & img {
        width: 30%;
    }

    & .frs-para {
        margin-bottom: 5rem;

        & p {
            font-size: 1.2rem;
            // width: 25%;
        }

        & .start-emil {
            border: none;
            // height: 3rem;
            // background-color: yellow;
        }

        & button {
            border-radius: 0;
            height: 100%;
            // padding: 8px auto;
        }
    }

    & input {
        all: unset;
        // padding: 15px;
        height: 48px;
        background-color: $clr5;
        border-radius: 0px;
        border: 2px solid $clr5;

        &::placeholder {
            padding: 15px;
            font-size: 1rem;
        }
    }

    & .sec-para {
        background-color: $clr1;
        margin: auto;
        color: rgba(255,
                255,
                255,
                0.856);

        & h2 {
            color: $clr2;
        }

        & .sec-head {
            margin: 2rem auto;
            font-size: 2.5rem;
        }

        & .desc {
            & p {
                margin: auto;
                width: 250px;
                margin-bottom: 2rem;
            }
        }

        & img {
            width: 10%;
        }
    }

    & .trh-para {
        & img:first-of-type {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        & .main-trh-para {
            & img {
                margin-top: 0px;
                width: 100%;
            }
        }
    }
}

.footer-container {
    margin: auto;
    // width: 80%;
    background-color: #4f3a6510;

    & p {
        // background-color: $clr2;
        width: 500px;
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 15%;
    }
}