.nav-container {
    position: fixed;
    background-color: rgba(26, 26, 26, 0.842);
    color: white;
    width: 100%;
    align-items: center;
    top: 0px;
    display: flex;
    justify-content: space-between;

    & .logo {
        display: flex;
        justify-content: center;
        width: 120px;
        padding: 10px;
        cursor: pointer;

    }

    & .pages {
        & li {
            cursor: pointer;
            padding: 10px;
        }
    }

    & a {
        cursor: pointer;
        color: white;
        background-color: rgb(255, 0, 0);
        margin-right: rem(10px);

    }
}

.homepage {
    background-color: rgb(26, 26, 26);

    & header {
        display: flex;
        height: rem(900px);
        margin-bottom: rem(50px);

        & .header-container {
            margin: auto;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.555);
            width: 100%;
            height: 100%;
        }

        & .txt-header {
            margin-top: 15%;
            text-shadow: 1px 1px rgb(255, 0, 0);
            width: 30%;
            color: white;
            font-size: 3.125rem;
            margin-bottom: rem(30px);
        }
    }

    & .home-btn {
        width: rem(300px);
        font-size: 1.8rem;
        border-radius: 50px;
        background-color: rgb(255, 0, 0);

        &:hover {
            opacity: 0.7;
        }
    }

    & .frs-section {
        margin: auto;
        background-color: rgba(26, 26, 26, 0.842);
        width: 80%;

        & .txt-header {
            text-shadow: 1px 1px rgb(255, 0, 0);
            color: white;
            font-size: 3.125rem;
        }

        & p {
            margin: auto;
            color: rgba(255, 255, 255, 0.411);
            margin-bottom: rem(30px);
        }

        & .desc {
            & img {
                width: 50px;
            }
        }
    }

    & .footer-txt {
        margin-top: rem(100px);
        width: 100%;
        background-color: rgba(255, 255, 255, 0.794);
        padding: rem(50px);

        & .home-btn {
            width: rem(200px);
            border-radius: 5px;
            font-size: 1.2rem;
            background-color: rgb(255, 0, 0);
        }
    }
}