@font-face {
    font-family: caveat;
    src: url("../../assets/fonts/Caveat/Caveat-Regular.ttf");
}
@font-face {
    font-family: montserrat;
    src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: OpenSans-Bold;
    src: url("../../assets/fonts/opensans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: OpenSans-reg;
    src: url("../../assets/fonts/opensans/OpenSans-Regular.ttf");
}
