// Colors
$clr0: #c491a4;
$clr1: #cc2163;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: rgba(255, 255, 255, 0.5);
// $clr4: rgba(white, 0.5);
// $clr4: rgba(#fff, 0.5);
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #000000;
$clr8: #f3f3f3;
$list-title: #172b4d;
$list-bgc: #ebecf0;
$board-container: #4f3a6573;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//font family
$mainFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
