// Setup
@import "setup/variables.scss";
@import "setup/functions.scss";
@import "setup/mixins.scss";
@import "setup/typography.scss";

// Basics
@import "basics/helpers.scss";
@import "basics/layout.scss";
@import "basics/base.scss";
@import "basics/links.scss";
@import "basics/buttons.scss";
@import "basics/screen";
// Components

// @import "components/main-header.scss";
// @import "components/cat-card.scss";
@import "components/BoardNav.scss";
@import "components/MiniUser.scss";
@import "views/home-page.scss";
@import "views/Boards-list.scss";
@import "views/Board.scss";
@import "components/CardDetails";
//index.css

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// html body *{
// margin: 1px;
// padding: 1px;
// border: 1px solid black;
// }
