// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/links";
@import "basics/buttons";
@import "basics/screen";
// Components

// @import "components/main-header.scss";
// @import "components/cat-card.scss";
@import "components/BoardNav";
@import "components/MiniUser";
@import "components/Menus";
@import "views/home-page";
@import "views/Boards-list";
@import "views/Board";
@import "components/CardDetails";
@import "components/BoardHeaderNav";
@import "components/initials";
//index.css

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// html body *{
// margin: 1px;
// padding: 1px;
// border: 1px solid black;
// }
