.board-nav {
    background-color: $clr5;
    color: $clr6;
    opacity: 0.7;
    width: 100%;
    position: absolute;
    top: 0;
    input:focus {
        width: 100%;
    }
    & .main-links {
        // font-size: 1.6rem;
        width: 350px;
        color: $clr1;
        margin: 0px;
        text-align: center;
        font-size: 1.8rem;
        align-items: center;
        &.right-links {
            justify-content: flex-end;
            margin-right: 20px;
        }
        & span {
            background-color: $clr4;
        }
        & svg {
            background-color: $clr4;
            border-radius: 5px;
            cursor: pointer;
            padding: 12%;
        }
        & li {
            margin-left: 10px;
        }
    }
    & .logo {
        display: flex;
        & img {
            line-height: 0em;
            padding: 0px;
            width: 5rem;
            cursor: pointer;
        }
    }
}
