.card-details {
    // *{
    //     border: 1px solid red;
    // }
    background-color: $card-bcg;
    margin-top: 10%;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    .card-btns {
        //aside
        & button {
            border: none;
            margin: 3px;
        }
        .add-members {
            background-color: springgreen;
        }
        .add-labels {
            background-color: darkslateblue;
        }
    }
    button {
        border: none;
        background-color: $card-btn;
    }
    textarea {
        resize: none;
    }
    .pop-over {
        position: absolute;
    }
    .todo {
        background-color: #fff;
    }
}
