.card-details {
    // *{
    //     border: 1px solid red;
    // }
    background-color: $card-bcg;
    margin-top: 10%;
    width: rem(800px);
    height: rem(400px);
    border-radius: 5px;
    .card-btns {
        //aside
        // background-color: red;
        width: 30%;
        padding: rem(30px);
        & button {
            border: none;
            margin-bottom: 10px;
            background-color: rgba(9, 30, 66, 0.04);
            border-radius: 3px;
            cursor: pointer;
            height: 32px;
            max-width: 300px;
            padding: 6px 12px;
        }
        & :hover {
            background-color: rgba(9, 30, 66, 0.08);
        }
        .add-members {
            background-color: springgreen;
        }
        .add-labels {
            background-color: darkslateblue;
        }
    }
    button {
        border: none;
        width: 100%;
        background-color: $card-btn;
    }
    textarea {
        resize: none;
    }
    .pop-over {
        position: absolute;
    }
    .todo {
        background-color: #fff;
    }
}
.card-des {
    width: rem(450px);
    width: 80%;
    text-align: left;
    padding: rem(20px);
    // background-color: red;
    overflow: auto;
}

.card-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.3rem;
    line-height: rem(20px);
    color: #172b4d;
    // background-color: yellow;
    font-weight: 300;
    margin-bottom: rem(10px);
    margin-top: rem(10px);
}

.com-time {
    font-size: 0.75rem;
    margin-left: rem(15px);
    padding-top: rem(3px);
    color: #8f8f8f;
}

.comment {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    // text-align: center;
    background-color: rgba(9, 30, 66, 0.04);
    padding: 5px;
    font-family: OpenSans-reg;
    color: #8f8f94ca;
}

.new-comm {
    width: 100%;
    font-family: OpenSans-reg;
    background-color: rgba(9, 30, 66, 0.04);
    border: 1px solid white;

    &::placeholder {
        font-family: OpenSans-reg;
        color: #8f8f94a4;
        font-size: 1.1rem;
    }
}
