button {
    cursor: pointer;
}

.startBtn {
    padding: 12px;
    border-radius: 25px;
    background-color: $clr3;
    border: none;
    color: $clr6;
    // box-shadow: 3px 3px 5px $clr2;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

.home-btn {
    all: unset;
    cursor: pointer;
    color: $clr6;
    border-radius: 3px;
    background-color: $clr2;
    padding: 12px;
    border: none;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

.create-board {
    margin: 20px auto;
    border: none;
    color: $clr4;
    padding: 12px;
    border-radius: 8px;
    background-color: $clr3;
}

.list-menu-btn {
    all: unset;
    font-size: 0.925rem;
    height: 30px;
    width: 30px;
    outline: 0;
    color: #bdc5d8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;

    // background-color: black;
    & a {
        color: #bdc5d8;

        & :hover {
            color: #002d3d;
        }
    }
}

.list-menu-btn:hover {
    color: #002d3d;
    background-color: rgba(9, 30, 66, 0.08);
}

.edit-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    visibility: hidden;
    cursor: pointer;
    text-align: center;
    color: #002d3d;
    padding-top: 5px;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    font-size: 0.7rem;

    .card:hover & {
        visibility: unset;

        &:hover {
            background-color: $hover;
        }
    }
}

.add-list-btn {
    all: unset;
    min-width: 200px;
    margin-left: 5px;
    padding: 5px 20px;
    // padding: 4px 48px;
    border-radius: 3px;
    font-family: OpenSans-semiBold, sans-serif;
    color: #ffffff;
    text-align: left;
    background-color: green;
    display: flex;
    min-width: 80px;
    cursor: pointer;
    margin-right: 50px;

    &:hover {
        background-color: rgba(0, 128, 0, 0.472);
    }
}

.add-todo-btn {
    justify-content: center;
    width: rem(100px);
    padding: 2px;
    margin: 0px;
}

.card-stat {
    // background-color: rgb(235, 90, 70);
    color: rgb(0, 0, 0);

    & svg {
        margin-right: 6npx;
        margin-left: 2px;
    }
}

.due-time {
    text-align: left;
    font-weight: 600;
    font-size: 0.9rem;
    font-family: OpenSans-semiBold, sans-serif;

    & span {
        // border: 1px solid pink;
        border-radius: 3px;
        color: rgb(70, 70, 70);
    }
}

.time-container {
    padding: 2px;
    display: flex;
    align-items: center;
    width: 80px;
    border: 1px solid rgba(59, 59, 59, 0.13);
    margin-bottom: 5px;

    & svg {
        margin-right: rem(5px);
    }
}


.add-mem {
    all: unset;
    margin-left: 10px;
    font-size: large;
    background-color: floralwhite;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 100%;
}

.create-board-menu {
    margin: 10px auto;
    border: none;
    color: $clr4;
    padding: 12px;
    border-radius: 8px;
    background-color: $clr3;
    width: rem(100px);
}