.screen {
    background: #18191acc;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    width: 100%;
    &.invisible{
        background: #00000000;
    }
}
